*{margin: 0;padding: 0;}
.clearfix:after{content: '';display: table;width: 100%;clear: both;}
.myModa{position: fixed;top: 0;left: 0;bottom: 0;right:0;background: rgba(0,0,0,0.2); }
.myModa .myAlertBox{width: 300px;border-radius: 5px;border: 1px solid #d9d9d9;background: #fff;overflow: hidden;margin: 0 auto; }
.myModa .myAlertBox h6{background: #f2f2f2;padding: 10px;line-height: 20px;font-size: 16px;text-align: center;}
.myModa .myAlertBox p{padding: 20px;line-height: 26px;font-size: 14px;color: #808080;}
.myModa .myAlertBox .btn{cursor: pointer; width: 80px;line-height: 36px;border-radius: 5px;text-align: center;font-size: 16px;margin: 0 auto;margin-bottom: 20px; background: #D9D9D9;}
.myModa .myAlertBox .col2 .col{width:120px;float: left;}
.myModa .myAlertBox .col2 .col .btn{width: 100%;}
.myModa .myAlertBox .col2{padding: 0 20px;}
.myToast{position: fixed; display: inline-block;padding: 5px 10px;line-height: 24px;font-size: 14px;color: #fff;background:#000; max-width: 300px;_width: expression(this.offsetWidth >300 ? '300px': 'auto' );*width: expression(this.offsetWidth >300 ? '300px': 'auto' );border-radius: 5px;}
